<!doctype html>
<html lang="en">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#FFC0CB">
<head>
<script src="/app.js" ></script>
<script src="/main.js" ></script>
<link rel="manifest" href="/manifest.json">
  <title>PWA proof of concept for user tracking</title>
</head>
You assigned ID {{trackID}}. You have accessed this page {{stats}} times.  
<body>
</body>
</html>